@model F1VacationSite.Models.Trip

@{
    ViewData["Title"] = "Details";
    Layout = "Trip";
}

<h1>Details</h1>

<div>
    <h4>Trip</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">Price</dt>
        <dd class = "col-sm-10">Price</dd>
        <dt class = "col-sm-2">Nights</dt>
        <dd class = "col-sm-10">Nights</dd>
        <dt class = "col-sm-2">Race</dt>
        <dd class = "col-sm-10">Country</dd>
        <dt class = "col-sm-2">Hotel</dt>
        <dd class = "col-sm-10">City</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
