@model IEnumerable<F1VacationSite.Models.Trip>

@{
    ViewData["Title"] = "Trips";
}

<h1>Trips</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@foreach (var trip in Model) {
            @await Html.PartialAsync("TripPartial", trip)
}
