@{
    ViewData["Title"] = "Admin Panel";
}

<div class="container my-4">
    <h4 class="fw-semibold mb-4">Admin Panel</h4>
    <div class="list-group" style="max-width:300px;">
        <a asp-area="" asp-controller="Trips" asp-action="Index" class="list-group-item list-group-item-action">Manage Trips</a>
        <a asp-area="" asp-controller="Race" asp-action="Index" class="list-group-item list-group-item-action">Manage Races</a>
    </div>
</div>