@{
    ViewData["Title"] = "Admin Panel";
}

<h2>Admin Panel</h2>

<ul>
    <li><a asp-area="Admin" asp-controller="Trip" asp-action="Index">Manage Trips</a></li>
    <li><a asp-area="Admin" asp-controller="Race" asp-action="Index">Manage Races</a></li>
    <li><a asp-area="Admin" asp-controller="Hotel" asp-action="Index">Manage Hotels</a></li>
</ul>